<footer class="text-center text-lg-start bg-dark text-light">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Follow us on social media:</span>
    </div>
    <div>
      <a href="" class="me-4 text-white">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-white">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-white">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-white">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container-fluid text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="fw-bold mb-4">
            <i class="fa-solid fa-car"></i> Car4you
          </h6>
          <p>
            Either you're looking for a car or wish to rent yours, you came to the right place!
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <br>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Rent a car</a>
          </p>
          <br>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Offer your car</a>
          </p>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact us</h6>
          <p><i class="fas fa-home me-3"></i>Visconde de Pirajá, 142<br>Rio de Janeiro, BR </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            car4you@outlook.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +55xxxxxxxxxx</p>
          <p><i class="fas fa-mobile-retro me-4"></i> +55xxxxxxxxxxx</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.9);">
    Copyright © 2023 Car4you. All rights reserved
  </div>
</footer>
