<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3 border border-dark" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="dropdown">
    <button class="dropbtn">Menu
      <i class="fa fa-caret-down"></i>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
    </button>
  </div>
</div>
