<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item m-1" href="/"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a class="dropdown-item m-1" href="/cars"><i class="fa-solid fa-car-rear"></i> Rent a car</a></li>
            <li><a class="dropdown-item m-1" href="/cars/new"><i class="fa-solid fa-dollar-sign"></i> Offer you car</a></li>
          </ul>
        </li>
      </ul>
      <div class="nav navbar-nav navbar-right right-content">
      <% if current_user.nil? %>
        <span class="fas fa-user pt-2 text-secondary"></span><%= link_to "Sign Up", new_user_registration_path, class: "sign-up my-btn nav-link pt-1" %>
        <span class="fas fa-sign-in-alt pt-2 text-secondary"></span><%= link_to "Log In", new_user_session_path, method: :get, class: "log-in my-btn nav-link pt-1" %>
      <% else  %>
        <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}, class: "sign-out my-btn", style: "border: 3px solid rgb(200,200,200); color: rgb(200,200,200); background-color: white" %>
      <% end %>
      <!-- <i class="fas fa-ellipsis-v"></i> -->
      </div>
    </div>
  </div>
</nav>
