<h1 class="text-dark bannertext pt-3">Car4you<br>Rental</h1>
<div class="cover mb-4 d-flex justify-content-center">
</div>
<div class="container text-center text-black">
  <br>
  <h2 class="typed-js" data-controller="typed-js">
    Explore <strong>endless</strong><br> booking offers
  </h2>
  <br>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="row cover trip m-4"></div>
  <div class="col-2 m-5 align-items-end">
    <h2>Find the <strong class="str">best car</strong><br>for your roadtrip</h2>
    <p>From adventure to sport cars to match your perfect experience!</p>
    <a href="/cars" class="btn btn-primary border border-dark">Book now!</a>
  </div>
</div>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row-6 m-4">
    <h4 class="px-5"><strong>Many cities available</strong></h4>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('rj.png') %>)"><p class="p-2">Rio de Janeiro</p></div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('sp.png') %>)"><p class="p-2">São Paulo</p></div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('floripa.png') %>)"><p class="p-2">Florianópolis</p></div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('bh.png') %>)"><p class="p-2">Belo Horizonte</p></div>
  </div>
</div>
