<h1>Car4you<br>Rental</h1>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
</div>
<div class="container text-center text-black">
  <br>
  <h2 class="typed-js" data-controller="typed-js">
    Explore <strong>endless</strong><br> booking offers
  </h2>
  <br>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="row cover trip"></div>
  <div class="col-2 m-5 align-items-end">
    <h2>Find the <strong class="str">best car</strong><br>for your roadtrip</h2>
    <p>From adventure to sport cars to match your perfect experience!</p>
    <div class="btn btn-primary border border-dark">Book now!</div>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('rj.png') %>)"></div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('sp.png') %>)"></div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('floripa.png') %>)"></div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('bh.png') %>)"></div>
    </div>
  </div>
</div>
